.personcontainer {
  position: absolute;
  top: 680px;
}

.personcontainer2 {
  position: absolute;
  top: 685px;
}

.smallpersoncontainer {
  position: absolute;
  top: 692px;
}

.smallpersoncontainer2 {
  position: absolute;
  top: 695px;
}
